
<!-- start common_js.vm -->
    ##Library Scripts
    <script type="text/javascript" src="store/$vendorSettingsDTO.vendorId/assets/themes/$vendorSettingsDTO.skinname/plugins/yui/js/yahoo-dom-event.js"></script>
    <script type="text/javascript" src="store/$vendorSettingsDTO.vendorId/assets/themes/$vendorSettingsDTO.skinname/plugins/yui/js/container-min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="store/$vendorSettingsDTO.vendorId/assets/themes/$vendorSettingsDTO.skinname/js/jquery.autocomplete.js"></script>
    ##<script type="text/javascript" src="assets/plugins/jQuery/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="store/$vendorSettingsDTO.vendorId/assets/themes/$vendorSettingsDTO.skinname/js/jquery.ui-effects.js"></script>
    <script type="text/javascript" src="store/$vendorSettingsDTO.vendorId/assets/themes/$vendorSettingsDTO.skinname/js/jqtouch.min.js"></script>
    <script type="text/javascript" src="store/$vendorSettingsDTO.vendorId/assets/themes/$vendorSettingsDTO.skinname/js/avetti.slider.js"></script>
    <script type="text/javascript" src="store/$vendorSettingsDTO.vendorId/assets/themes/$vendorSettingsDTO.skinname/js/lineItemAdd/lineItemAdd.js"></script>
    <script type="text/javascript" src="store/$vendorSettingsDTO.vendorId/assets/themes/$vendorSettingsDTO.skinname/js/lineItemAdd/lineItemAdd_event.js"></script>
    <script type="text/javascript" src="store/$vendorSettingsDTO.vendorId/assets/themes/$vendorSettingsDTO.skinname/js/avetti.mobile.js"></script>
    <script type="text/javascript" src="store/$vendorSettingsDTO.vendorId/assets/themes/$vendorSettingsDTO.skinname/js/css3-mediaqueries.js"></script>
    #parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/common_mustaches.vm")

    ##Plugin Scripts
    <script type="text/javascript">
        var
            vendorIdentifier = '${vendorSettingsDTO.vendorId}',
            skinname    = '${vendorSettingsDTO.skinname}',
            categoryId  = "$pageTile.getItemObject($categoryNameDTOHQL, $categoryNameDTOHQL.items.get(0), 'categoryid')";

        var userWelcome = {
            'welcome': '#springMessage("vm.header.welcome")',
            'welcome2': '#springMessage("vm.header.welcome2")',
            'logout'  : '#springMessage("vm.header.logout")',
            'logout_link': 'https://${appSettingsDTO.getDomainAlias($vendorSettingsDTO.vendorId)}/${appSettingsDTO.AppName}/signout.html?vid=${vendorSettingsDTO.vendorId}',
            'login' : '#springMessage("vm.header.login")',
            'login_link': 'https://${appSettingsDTO.getDomainAlias($vendorSettingsDTO.vendorId)}/${appSettingsDTO.AppName}/signin.html?vid=${vendorSettingsDTO.vendorId}&mt=1&redirecturl=${welcomeMatDTO.currentEncodePage}&loginway=header',
            'account_html': '<img src="store/$vendorSettingsDTO.vendorId/assets/themes/$vendorSettingsDTO.skinname/images/icons/myaccount.gif" alt="#springMessage("vm.header.myaccount")"/>&nbsp;<a href="$seourl.encodeURL("myaccount.html?mode=billingaddress&vid=$vendorSettingsDTO.vendorId")">#springMessage("vm.header.myaccount")</a>',
            'account_link': '$seourl.encodeURL("myaccount.html?mode=billingaddress&vid=$vendorSettingsDTO.vendorId")'
        };
    </script>
    <script type="text/javascript" src="store/$vendorSettingsDTO.vendorId/assets/themes/$vendorSettingsDTO.skinname/js/getajax.js"></script>
    <script type="text/javascript" src="store/$vendorSettingsDTO.vendorId/assets/themes/$vendorSettingsDTO.skinname/js/megaNav.js"></script>

    <script type="text/javascript">
        helpTooltip = new YAHOO.widget.Tooltip("ttl", {
            context: "asearch_help", width:300, preventoverlap: true,
            text: "#springMessage('vm.searchBar.helptooltip')"
        });

        function checkKey() {
            var
                keyword = document.getElementById('keyword'),
                key     = document.getElementById('key');


            keyword.value = key.value;
            if (keyword.value.length == 0){
                keyword.value = $vendorSettingsDTO.vendorId;
            }
        }

        function changeItemView() {
            var listing = jQuery('.listing');

            listing.toggleClass(function() {
                if (listing.hasClass('list')) {
                    createCookie('grid');
                    listing.removeClass('list');
                    return 'grid';
                } else if (listing.hasClass('grid')) {
                    createCookie('list');
                    listing.removeClass('grid');
                    return 'list';
                }
            });

            jQuery(".view-switch a").toggleClass("selected")
        }

        function changeLanguage(language){
            if (language == '') {
                language = 'en';
            }

            if (language == 'es') {
                document.location.href = 'htpp://es.avetti.ca/';
            } else {
                var url = location.href;
                if (url.match(/&ml=([a-zA-Z]*)/)) {
                    url = url.replace(/&ml=([a-zA-Z]*)/, "&ml=" + language);
                } else if (url.match(/\?ml=([a-zA-Z]*)/)) {
                    url = url.replace(/\?ml=([a-zA-Z]*)/, "?ml=" + language);
                } else {
                    if (url.indexOf("\?") > 0) {
                        url += "&";
                    } else {
                        url += "?";
                    }

                    url += "ml=" + language;
                }
                document.location = url;
            }
        }
    </script>

    <script type="text/javascript">
        iPadfn = {};
        iPadfn.status = false;

        iPadfn.addOverlay = function(obj,who) {
            jQuery(who).css('z-index', '1000');
            jQuery(obj).append('<div id="ipad_overlay"></div>');
            jQuery('#ipad_overlay').css({
                'position': 'absolute',
                'height'  : jQuery(who).css('height'),
                'width'   : jQuery(who).css('width'),
                'display' : 'block',
                'z-index' : '999'
            });
        }

        iPadfn.removeOverlay = function() {
            jQuery('#ipad_overlay').remove();
        }

        iPadfn.openMenu = function(obj,menu) {
            jQuery(menu).slideDown('slow', function() {
                iPadfn.addOverlay(obj, menu);
            });
        }

        iPadfn.closeMenu = function(menu) {
            jQuery(menu).slideUp('slow', function() {
                iPadfn.removeOverlay();
            });
        }

        jQuery(document).ready(function() {
            jQuery('.sideNavToggle a').bind('touchstart', function() {
                window.location = jQuery(this).attr('href');
            });

            jQuery('.searchByCategory').bind('touchstart', function() {
                if (iPadfn.status == false) {
                    iPadfn.openMenu(this, '.sideNavToggle');
                    iPadfn.status = true;
                } else {
                    iPadfn.closeMenu('.sideNavToggle');
                    iPadfn.status = false;
                }
            });
            
            linkProducts();
            
            jQuery("#megaNav").megaNav({vid: "$vendorSettingsDTO.vendorId"});
        });
        
        function linkProducts(){
            //create namespace for these links, so only one is bound at anytime.
            jQuery(".item").off("click.productLink").on("click.productLink", function(event){
                if (!jQuery(event.target).is("button")){
                
                    var item = jQuery(this);
                    
                    //attempt to find a link to use with the following priority:
                    // 1. the first link with an id starting with "parent-title"
                    // 2. the first link inside an element with the class "itemTitle"
                    // 3. the first link inside an element with the class "preorderTitle"
                    // 4. the first link
                    var url = item.find("a[id^='parent-title']").first().attr("href")
                        || item.find(".itemTitle a").first().attr("href")
                        || item.find(".preorderTitle a").first().attr("href")
                        || item.find("a").first().attr("href");
                          
                    window.location = url;
                }
            });
        }

        /*
            jQuery(document).ready(function(){
                if(jQuery('body').attr('id') == 'item'){
                    jQuery('#search_categories').hover(
                        function(){
                            var obj = jQuery(this).parent().find('ul:eq(0)');
                            obj.show();
                        },
                        function(){
                            var obj = jQuery(this).parent().find('ul:eq(0)');
                            obj.hide();
                        }
                    );
                }
            });
        */
   // var $j = jQuery.noConflict();
   // jQuery(".toggle").click(function(){
    //  jQuery("#toggle-menu").toggleClass("show-nav");
  //  });
    
    jQuery(document).ready(function () {
				jQuery(".typeahead").first().autocomplete('typeaheadsearch.ajx?vid=$vendorSettingsDTO.vendorId&pagetile=AdvancedSearchUsingSolr&ml=$ml', {
					minChars: 3,
					matchSubset: 0,
					max: 6,
					maxItemsToShow: 6
					/*
						extraParams:{
							'cname': function() { return $('#cname').val(); },
						},
					*/
				});
	
				jQuery(".typeahead").autocomplete().result(function () {
					jQuery('#searchForm').submit();
					return false;
				});
			});
					jQuery(document).ready(function(){
						jQuery('.category-select ul li')
							.bind('click', function() {
								var text = jQuery(this).text().trim();
								if(jQuery(this).attr('data-value') == ''){
									jQuery('#cname').val('[* TO *]');
								}else{
									jQuery('#cname').val(jQuery(this).attr('data-value'));
								}
		

								jQuery('.category-select .label').text(text).append( "<i class='fa fa-sort-desc'></i>");
								jQuery('.category-select ul').addClass('hide');
								jQuery('.category-select ul li.selected').removeClass('selected');
								jQuery(this).addClass('selected');
							});
		

						jQuery('.category-select .label')
							.bind('click', function() {
								jQuery('.category-select ul').toggleClass('hide');
							});
					});
</script>

    <script type="text/javascript" src="store/$vendorSettingsDTO.vendorId/assets/themes/$vendorSettingsDTO.skinname/js/responsive.js"></script>
        
    
<!-- End common_js.vm -->
